.HomeContainer{
    padding: 80px 50px 80px 50px;
    background-color: rgb(58, 58, 114);
    color: white;
    font-size: 25px; 
}
.itemsContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
}
.obj{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    margin: 10px 0px 10px 0px;
}
.HotelName{
    font-size: 20px;
    color: black;
}
.foodItem{
    width: 250px;
    padding: 40px 40px 0px 40px;
}
.itemsContainer img{
    height: 200px;
    width: 250px;
}
.foodItem:hover{
    box-shadow: 0px 0px 2px black;
}
.HomeDesc{
    margin: auto;
}
.hotelDesc{
    margin: auto;
}
#HomeButton{
    font-size: large;
    background-color: transparent;
    border: none;
    height: 70px;
    width: 100%;
    color: rgba(0, 0, 0, 0.623);
}
#HomeButton:hover{
    cursor: pointer;
    color: rgba(124, 68, 15, 0.932);
}